/** {
	border: 1px solid black !important;
}*/
body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding: 60px 0 60px 0;
	font-size: 16px;
	background: linear-gradient(-20deg, #9FABBD, hsla(238, 19%, 73%, 0.13));
}
img {
	margin: 0 auto;
}
/*~~~NAVBAR~~~*/
.navbar-inverse .navbar-brand {
	color: #E9EBF0;
}
.navbar-inverse .navbar-nav > li > a  {
	color: #fff;
	transition: 0.3s;
}
.navbar-inverse .navbar-nav > li > a:hover {
	transform: translateY(-2px);
	color: #E9EBF0;
}
.navbar-inverse .navbar-collapse {
	text-align: center;
}
/*.navbar-fixed-top { 
	background-color: #FFF;
}*/
.profile-pic {
	padding-top: 10px;
}
/*.navbar-toggle {
	background-color: #fff;
	border: 1px solid #777;
}*/
/*.landing-pic {
	padding-bottom: 10px;
}*/

/*~~~NAME/LANDING AREA~~~*/
.row h1 {
	font-size: 2.5em;
	font-weight: 700;
	text-shadow: 2px 1px 0px #fff, 4px 4px 0px rgba(0,0,0,0.15);
}

/*~~~SECTION TITLES~~~*/
.row h2 {
	font-weight: 400;
	padding-bottom: 20px;
}

@media (max-width: 992px) {
	.content-title { 
		text-align: center;
	}
}

/*~~~PROJECT AREA~~~*/
.row h3 {
	font-size: 2em;
	font-weight: 300;
	padding-bottom: 20px;
	text-transform: uppercase;
/*	font-style: italic;*/
}

@media (max-width: 992px) {
	.content-title { 
		text-align: center;
	}
}
.img-project {
	border-radius: 4px;
	transition: 0.8s;
}
.img-project:hover {
	transform: translateY(-3px);
	-moz-box-shadow: 0 0 5px #808080; 
	-webkit-box-shadow: 0 0 5px #808080; 
	box-shadow: 0 0 14px #808080;
}
.row ul {
	padding-left: 0;
}
/*~~~CONTACTS~~~*/
.social-icons {
  padding: 15px;
  color: #4E4E4E;
}
.social-icons:hover {
	transform: translateY(-2px);
}

/*.navbar-fixed-top.navbarColorChange{ 
	background-color: rgba(251,241,142,0.9);
	transition: background-color 0.1s ease 0s;
}*/
/*
@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
*/